@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
}
.top
{
    margin-top: 30px;
}

.bottom
{
    margin-top: 20px;
}

.top .bi
{
    color: #00aced;
    margin-left: 330px;
    text-align: center;
}

.top h2
{
    font-weight: bold;
    margin-top: 30px;
    font-size: xx-large;
    margin-left: 330px;
}

form
{
    margin: auto;
    width: 40%;
}
.form-control
{
    font-size: 21px;
    margin-bottom: 30px;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 25px;
}
.btn-primary
{
    background-color: #00aced;
    width: 100%;
    border-radius: 30px;
    font-weight: bold;
    font-size:large;
    height: 45px;
    margin-bottom: 25px;
}
.btn-primary .log_in
{
    font-size: 15px;
}

a
{
    color: #00aced;
}
a:hover
{
    color: #00aced;
}
