@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


.container .left_side,
.container .right_side
{
    display: inline-block;
}
/*Partie gauche*/
.container .left_side
{
    background-color: rgb(5, 32, 32);
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
}
.container .left_side .infos .img
{
    padding-top: 30px;
    height: 150px;
    margin-left: 150px;
    padding-bottom: 5px;
    
}
.container .left_side .infos .name
{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding-top: 10px;
    color: whitesmoke;
}
.container .left_side .infos .designation
{
    font-style: italic;
    font-size: 13px;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 15px;
    border-bottom: 1px solid darkslategray;
    font-size: small;
}
.container .left_side p
{
    color: whitesmoke;
}
.container .left_side h5
{
color: whitesmoke;
}
.container .left_side .infos .indication
{
    font-size: x-small;
    padding-left: 55px;
}
.container .left_side .infos .bi
{
    font-size: 25px;
    height: 40px;
    width: 40px;
    padding: 15px 15px;
}
.container .left_side .infos .number,
.container .left_side .infos .email,
.container .left_side .infos .lieu
{
    border-bottom: 1px solid darkslategray;
    padding-bottom: 10px;
}


.container .left_side .technical_skills .bi
{
    font-size: 25px;
    height: 40px;
    width: 40px;
    padding: 15px 15px;
}
.container .left_side .technical_skills p
{
    padding-left: 57px;
    padding-top: 10px;
}
.container .left_side .technical_skills #javascript
{
    margin-bottom: 10px;
}

.container .left_side .personnal_skills h5
{
    border-top: 1px solid darkslategray;
    padding-top: 15px;
}
.container .left_side .personnal_skills .bi
{
    font-size: 25px;
    height: 40px;
    width: 40px;
    padding: 15px 15px;
}
.container .left_side .personnal_skills p
{
    padding-left: 57px;
    padding-top: 10px;
}
.container .left_side .personnal_skills #communication
{
    margin-bottom: 90px;
}

.container .left_side .technical_skills input,
.container .left_side .personnal_skills input
{
    margin-left: 57px;
}

/*Fin Partie gauche*/


/*Partie droite*/

.container .right_side
{
    background-color: lightgray;
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
}

.about
{
    margin: 30px 60px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: whitesmoke;
}
.about h4
{
    margin-top: 20px;
}
.about .bi
{
    margin-right: 30px;
}
.about p
{
    margin-left: 53px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.work_experience
{
    margin: 30px 60px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: whitesmoke;
}
.work_experience h4
{
    margin-top: 20px; 
}
.work_experience .bi
{
    margin-right: 30px;
}
.work_experience h6,
.work_experience p
{
    margin-left: 55px;
}
.work_experience .date
{
    font-size: small;
    color: rgb(83, 194, 231);
}
.work_experience .p1,
.work_experience .p2
{
    border-bottom: 1px solid lightgray;
}
.work_experience p
{
    padding-bottom: 20px;
}

.education
{
    margin: 30px 60px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: whitesmoke;
}
.education h4
{
    margin-top: 20px; 
}
.education .fa
{
    margin-right: 30px;
}
.education h6
{
    margin-left: 58px;
    padding-bottom: 20px;
}
.education .date
{
    font-size: small;
    color: rgb(83, 194, 231);
}

.achievements 
{
    margin: 30px 60px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: whitesmoke;
}
.achievements h4
{
    margin-top: 20px;
}
.achievements .bi
{
    margin-right: 30px;
}
.achievements h6
{
    margin-left: 55px;
    padding-bottom: 20px;
}
.achievements .date
{
    font-size: small;
    color: rgb(83, 194, 231);
}

.hobbies
{
    margin: 30px 60px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: whitesmoke;
}
.hobbies h4
{
    margin-top: 20px;
}
.hobbies .bi
{
    margin-right: 30px;
}
.hobbies .fa-futbol-o
{
    margin-left: 60px;
}
.hobbies .fa-futbol-o,
.hobbies .fa-plane,
.hobbies .bi
{
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: xx-large;
}
