body
{
    background-color: #edf0f5;
}

.left
{
    margin-right: 90px;
}
.left .img
{
    margin-top: 200px;
    width: 420px;
    margin-left: -80px;
}

.left h5
{
    margin-left: -40px;
    margin-top: -20px;
    font-size: 35px;
    font-weight: 400;
}
.right
{
    border:1px transparent white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 170px;
    background-color: white;
    box-shadow: 1px 1px 1px 0.5px #edf0f5;
}
.connexion
{
    width: 100%;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 10px;
}

.compte
{
    font-weight: bold;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 15px;
}

.contain
{
    padding: 10px;
}
h6
{
    padding-top: 30px;
    font-size: normal;
    font-weight: 700;
}

.form-control
{
    font-size: x-large;
    padding: 20px;
    margin-bottom: 20px;
}

.mdp
{
    font-size: large;
    margin-bottom: 25px;
}
.page, 
.page:hover
{
    color: black;
}
